@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}



.left-side {
    background: var(--bg-color);
    height: 100vh;
    
    position: absolute;
    
    display: flex;
    flex-direction: column;

    padding-left: 36px;
}

.left-side img {
    width: 389px;
    height: 94px;
    margin-bottom: 7rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 36px 7rem;

}

.text h1 {
    font-family: 'inter', sans-serif;
    font-weight: 700;
    color: var(--title-color);
}

.text h3 {
    font-family: 'inter', sans-serif;
    font-weight: 700;
    color: var(--text-color);
}

.text p {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    color: var(--text-color);
}

label {
    font-family: 'inter', sans-serif;
    color: var(--form-color);
}

.register {
    padding: 0 0 0 36px;

}

.register button {
    width: 48px;
    height: 48px;

    background-color: var(--bg-button-color);
    border: none;

    box-shadow: 0 2px 5px 0;
}

.register button img{
    margin: auto;
    width: 24px;
    height: 24px;
}

#email {
    height:48px;
    width: 1048px;

    border-style: none;
    border-left: 5px solid var(--title-color);

    padding-left: 15px;

    box-shadow: 0 2px 5px 0;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#email::placeholder {
    font-family: 'inter', sans-serif;
}

.submit {
    display: flex;

    position: absolute;

    padding: 25px 0 0 0;
}

footer {
    margin-top: 10rem;
    padding: 0 0 0 36px;
}

.link{
    display: inline-block;
    align-items: center;

}

.link p {
    display: flex;
    align-items: center;

    font-family: 'inter', sans-serif;
}

.link img {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0;
}


.right-side{
    width: 1175px;
    background: url(./assets/reading.png), cover no-repeat;
}
