@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.left-side {
    background: var(--bg-color);
    height: 100vh;

    display: flex;
    flex-direction: column;
    color: white;
}

.left-side img {
    width: 389px;
    height: 94px;
}